<ion-content padding class="background" [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col class="background-image">
        <img width="auto" height="auto" alt="logo" src="./assets/images/Srikai-LOGO.png">
      </ion-col>
    </ion-row>
    <section>
          <ion-button color="dark" size="large" (click)="NextPage()">ลูกค้า</ion-button>
    </section><br>
    <section>
          <ion-button color="dark" size="large" (click)="NextPagePorka()">จัดการร้านอาหาร</ion-button>
    </section>
    <br>
    <ion-row class="ion-text-center">
    </ion-row>
  </ion-grid>
</ion-content>

